
/* Set Variables for colors selected for site */
:root {
    --darkblue: #161925;
    --azure: #3F84E5;
    --tan: #B5A886;
    --red: #EF3E36;
    --white: #FFE4FA;
}
/* Set body background color white*/
body {
    background-color: var(--white);
}
/*header styling */
header {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--darkblue);
    color: var(--white);
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: var(--white);
    text-decoration: none;
}

p {
    font-size: 16px;
}

h2 {
    font-size: 32px;
}

/* Banner image */
.banner {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url(https://images.unsplash.com/photo-1518770660439-4636190af475?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80);
    background-size: cover;
    background-position: center;
}
/* Section Styling */
section {
        display: flex;
}

/* Aside Styling */
aside {
    margin: 10px;
    width: 25%;
    display: flex;
    border-right: 2px solid var(--darkblue);

}

/* about me section */

.aboutmediv {
    margin: 10px;
    width: 75%;
    padding: 20px;
    background-color: var(--tan);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* work section */
/* card styling */
.work {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    margin: 10px;
    padding: 20px;
}

.card {
    flex: 1 1 0;
    text-align: center;
    border-style: solid;
    border-width: 1px;
  }
  
.card h3 {
    padding: 20px;
    background: #13293d;
    color: #fff;
  }
  
.card img {
    opacity: 75%;
  }

.card img:hover {
    opacity: 100%;
}

.maincard {

}





/* footer section goal is to have this similar to the header/nav at the top of the page*/
footer {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--darkblue);
    color: var(--white);
}

footer div {
padding-top: 15px;
margin-right: 20px;
float: right;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 20px;
}

footer div ul {
    list-style-type: none;
}

footer div ul li {
    display: inline-block;
    margin-left: 25px;
}

/* media section */
@media screen and (max-width: 768px) {
    header,
    nav,
    main,
    footer
    {
      flex-direction: column;
    }
  }